<!DOCTYPE html>
<html>
    <head>
        <title>RIME</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <%= render 'layouts/navbar' %>

        <div class = "container">

          <div id = "ChatsList">

            <h1>Chats</h1>

            <ul>
              <% if @chats.empty? == false %>
                <%= render @chats %>
              <% end %>

              <li><%= link_to "New", new_chat_room_path %></li>
            </ul>

          </div>

          <!-- Displays the messages themselves, using a partial. -->
          <div id = "MessagesSection">

            <% if @chats.empty? == false %>
              <%= render @chosen.messages %>
            <% end %>

          </div>

        </div>

      </body>

</html>
